/*Estilos generales*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
    background-color: #000;
    scroll-behavior: smooth;
    user-select: none;
    height: 100%;
}

a{
	text-decoration:none;
}


@keyframes scroll {
    100% {
        background-position: 0px 2000px; /* Mueve la imagen hacia arriba */
    }
}

body {
    margin: 0;
    z-index: 1;
    background-image: url("../images/fondo3.gif");
    background-color: #111111; /* Color de fondo en caso de que la imagen no se cargue */
    animation: scroll 120s linear infinite; /* Aplica la animación */
    perspective-origin: 50% 50%;
}

/*-----------------------------Loading Screen---------------------------------*/
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
}

.spinner {
    border: 5px solid #3498db;
    border-top: 5px solid #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    box-shadow: 0px 0px 15px 0px #3498db;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*-----------------------------Dialog Box-------------------------------------*/
.launcher {
    position: fixed;
    bottom: 40px;
    right: 23px;
    width: 10%;
    height: 15%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dialog-box {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.floating-animation {
    animation-name: floating2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating2 {
    0% {transform: translateY(2px);}
    50% {transform: translateY(-2px);}
    100% {transform: translateY(2px);}    
}

.launcher p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 10px;
    color: #fff;
    text-shadow: 0 0 0 transparent, 0 0 5px #2695ff, 0 0 10px rgba(38, 149, 255, 0.5), 0 0 15px #2695ff;
}

.launcher .arrow{
    width: 60%;
    opacity: 0.8;
    height: auto;
}

#rocket {
    width: 35px; /* Ajusta según el tamaño de tu cohete */
    height: auto;
}

#rocket:hover {
    transform: scale(1.05); /* Rotación de 360 grados en el eje Y */
    cursor: pointer;
}

/*------------------------------Header---------------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: -100px; /* Inicialmente fuera de la vista */
    width: 100%;
    height: 65px;
    background-color: rgba(48, 48, 48, 0.582);
    box-shadow: 0 1px 10px #2695ff, 0 2px 30px #2695ff;
}

@keyframes slideDown {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}

@keyframes slideUp {
    from {
        top: 0;
    }
    to {
        top: -100px;
    }
}

header .logo img, header .menu-icon img {
    padding: 10px;
}

header .logo img {
    width: 50px; 
    height: auto;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {transform: translateY(4px);}
    50% {transform: translateY(-4px);}
    100% {transform: translateY(4px);}    
}

header .menu-icon img {
    width: 50px;
    height: auto;
}

/*--------------------------Menu Original--------------------------------------*/

.menu-original {
    display: none;
}

.menu-original ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-original ul li {
    margin: 0 15px; /* Espacio horizontal entre elementos del menú */
}

.menu-original ul li a {
    text-decoration: none;
    padding: 4px;
    color: #fff;
    font-family: calibri;
    text-align: center;
    transition: transform 0.8s;
	letter-spacing: 4px;
}

.menu-original a:hover{
	transform: scale(1.1);
	color: #fff;
    border-radius: 6px;
	background-color: rgba(83,23,140,1);
    box-shadow: 0 0 10px rgba(83,23,140,1), 0 0 40px rgba(83,23,140,1), 0 0 80px rgba(83,23,140,1);
}

/*-------------------------Menu Desplegable--------------------------------*/

.menu-desplegable{
    position: fixed;
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa todo el alto */
    z-index: 5;
    background: rgba(0, 0, 0, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu-desplegable li {
    list-style: none;
    margin-bottom: 20px;
}

.menu-desplegable a {
    padding: 10px;
    width: 100%;
    font-size: 150%;
    color: #fff;
    font-family: calibri;
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px rgba(83,23,140,1);
}

/*-------------------------------Home--------------------------------------*/

.presentation{
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    width: 100%;
    font-family: "neontubes";
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@font-face {
    font-family: 'neontubes';
    src: url("../fonts/neontubes-webfont.eot") format("embedded-opentype"), url("../fonts/neontubes-webfont.woff2") format("woff2"), url("../fonts/neontubes-webfont.woff") format("woff"), url("../fonts/neontubes-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.titulo .primario {
    padding-left: 0%;
    width: 100%;
    font-size: 16vw;
    font-weight: normal;
    text-align: center;
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px rgba(83,23,140,1), 0 0 20px  rgba(83,23,140,1);
    -webkit-animation: blink 4s infinite alternate;
            animation: blink 4s infinite alternate;
}

.titulo .secundario {
    width: 100%;
    padding-left: 0%;
    font-size: 14vw;
    font-weight: normal;
    text-align: center;
    color: #d4eaff;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff;
    -webkit-animation: buzz 0.01s infinite alternate;
            animation: buzz 0.01s infinite alternate;
}
  
@-webkit-keyframes buzz {
    70% {opacity: 0.80;}
}

@keyframes buzz {
    70% {opacity: 0.80;}
  }

@-webkit-keyframes blink {
    40% {opacity: 1;}
    42% {opacity: 0.8;}
    43% {opacity: 1;}
    45% {opacity: 0.2;}
    46% {opacity: 1;}
}

@keyframes blink {
    40% {opacity: 1;}
    42% {opacity: 0.8;}
    43% {opacity: 1;}
    45% {opacity: 0.2;}
    46% {opacity: 1;}
}

.imagen-perfil{
    display: none;
}

/*------------------------------About Me-------------------------------------*/

.about-me{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 5% 2% 5% 2%;
    z-index: 2;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(67, 20, 111, 0.7) 25%, rgba(83,26,138,0.7) 45%, rgba(83,23,140,0.7) 50%, rgba(83,26,138,0.7) 55%, rgba(67,20,111,0.7) 75%, rgba(0,0,0,0.3) 100%);
}   

.about-h3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    transform: translateX(-90%); /* Empieza fuera de la pantalla a la izquierda */
    opacity: 0; /* Comienza invisible */
    transition: transform 0.8s ease-out, opacity 0.8s ease-out; /* Suaviza la transición */
}

.about-me-visible {
    transform: translateX(0); /* Vuelve a su posición normal */
    opacity: 1; /* Hace la sección completamente visible */
}

.about-me h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 0.7em;
    overflow:auto;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(143, 143, 143);
}

.img-about{
    display: none;
}

/*--------------------------------SKILLS-----------------------------------*/

.skills{
    width: 100%;
    height: 105vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    scroll-margin-top: 2ex;
}

.cajitas-skills{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 2%;
}

.barra{
    width: 13%;
    height: 2%;
    margin-left: 6%;
    margin-right: 6%;
    border: 2px solid rgb(137, 40, 228);
    border-radius: 10px;
    background-color: #2695ff;
    box-shadow: 0 0 5px rgb(137, 40, 228), 0 0 10px rgb(137, 40, 228), 0 0 15px rgb(137, 40, 228);
}

.cajitas-skills h2{
    letter-spacing: 5px;
    color: #fff;
    text-shadow: 0 0 0 transparent, 0 0 5px #2695ff, 0 0 10px rgba(38, 149, 255, 0.5), 0 0 15px #2695ff;
}

.cajitas-skills h3{
    display: flex;
    flex-direction: column;
    width: 10%;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 0 transparent, 0 0 5px #2695ff, 0 0 10px rgba(38, 149, 255, 0.5), 0 0 15px #2695ff;
}
  
.cajitas-skills img{
    height: 60%;
    transition: transform 0.5s;
}

.cajitas-skills img:hover{
	transform: scale(1.3);
    cursor: pointer;
}

/*--------------------------------WORKS-----------------------------------*/

.works{
    width: 100%;
    height: 120vh;
    padding: 18% 3% 3% 3%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(67, 20, 111, 0.7) 25%, rgba(83,26,138,0.7) 45%, rgba(83,23,140,0.7) 50%, rgba(83,26,138,0.7) 55%, rgba(67,20,111,0.7) 75%, rgba(0,0,0,0.3) 100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    scroll-margin-top: 3ex;
}

.works-h2{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 900;
    filter: drop-shadow(3px 3px 5px #2695ff);
}

.works__projects{
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.works__project{
    width: 70%;
    height: 35%; /* Alto de cada proyecto */
    filter: drop-shadow(3px 3px 5px #2695ff);
}

/* Estilos comunes para imagen_fondo e imagen_fondo2 */
.imagen_fondo, .imagen_fondo2, .imagen_fondo3 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

/* Diferencias específicas */
.imagen_fondo2 img, .imagen_fondo3 img{
    width: 100%;
    height: 100%;
}
/* Estilos comunes para titulo-1-proyect y titulo-2-proyect */
.titulo-1-proyect, .titulo-2-proyect {
    position: absolute;
    font-family: 'Rajdhani', sans-serif;
    z-index: 15;
    color: #ffffff;
    font-weight: 300;
    width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
    border-radius: 5px;
}

/* Posicionamiento y tamaño específicos */
.imagen_fondo .titulo-1-proyect, .imagen_fondo2 .titulo-1-proyect, .imagen_fondo3 .titulo-1-proyect {
    text-transform: uppercase;
    padding: 7px;
    top: 60%; left: -80%;
    font-size: 14px;
}

.imagen_fondo:hover .titulo-1-proyect, .imagen_fondo2:hover .titulo-1-proyect, .imagen_fondo3:hover .titulo-1-proyect {
    background-color: rgba(83,23,140,1); 
    left: 0px;
}

.imagen_fondo .titulo-2-proyect, .imagen_fondo2 .titulo-2-proyect, .imagen_fondo3 .titulo-2-proyect {
    padding: 5px;
    top: 60%; right: -85%;
    margin-top: 25px;
    font-size: 11px;
}

.imagen_fondo:hover .titulo-2-proyect, .imagen_fondo2:hover .titulo-2-proyect, .imagen_fondo3:hover .titulo-2-proyect {
    background-color: rgba(128, 35, 214, 0.712);
    right: 0px;
}

/*---------------------------CONTACT---------------------------*/

.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 5ex;
}

.redes{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 2% 0% 2%;
}

.redes h2{
    width: 100%;
    height: 50%;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.redes__iconos{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.redes a{
    width: 25%;
    text-align: center;
}

.redes img{
    width: 40%;
    height: auto;
    transition: transform 1s;
}

.form{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: flex-start;
    padding-top: 5%;
}

.form__section1{
	height: 10%;
	width: 65%;
    padding: 1%;
    margin-top: 3%;
}

textarea{
    width: 55%;
    height: 30%;
    resize: none;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 5%;
    margin: 7% 2% 2% 2%;
    color: #fff;
}

.form__input{
	width: 100%;
	margin: 2%;
	padding: 2%;
	border: none;
	background-color: rgba(83,23,140,1);
    box-shadow: 0 0 10px rgba(83,23,140,1), 0 0 40px rgba(83,23,140,1);
}

.form__input:focus{
	border-radius: 6px;
	outline: none;
    background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 10px rgba(83,23,140,1), 0 0 40px rgba(83,23,140,1);
    color: #fff;
}

.form input[type="submit"]{
	font-family: calibiri 3px;
	background-color: rgba(83,23,140,1);
    box-shadow: 0 0 10px rgba(83,23,140,1), 0 0 40px rgba(83,23,140,1);
	border-bottom:none;
}

.form input[type="submit"]{
    color: rgb(255, 255, 255);
}

.form input[type="submit"]:hover{
	font-family: 'Rajdhani', sans-serif, 3px;
	background-color: rgba(83,23,140,1);
    box-shadow: 0 0 10px rgba(83,23,140,1), 0 0 40px rgba(83,23,140,1), 0 0 80px rgba(83,23,140,1);
	border-bottom:none;
    color: rgb(255, 255, 255);
    color: #fff;
}

.form input[type="submit"]:focus{
    letter-spacing: 2px;
}

input::placeholder, textarea::placeholder {
    color: #ffffff; /* El color que desees */
    opacity: 1; /* En algunos navegadores, se requiere para asegurar el color */
}

/*------------------------------FOOTER------------------------------*/

.footer {
    background-color: #0000004f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    font-family: 'Rajdhani', sans-serif;
    height: 8vh;
    box-shadow: 0 1px 10px #2695ff, 0 2px 30px #2695ff;
}


/*-----------------------------------preGame-------------------------------*/
.preGame, #countdown, .closeGame, #rocket2, #asteroid1, #asteroid2, #asteroid3,#asteroid4,#asteroid5, #counter,#pauseMusic,#gameOverDiv {
    display: none;
}

/*--------------------------------Media queries--------------------------------*/
/*-----------------------------------------------------------------------------*/

@media only screen and (min-width: 360px) {
    /* Estilos para celulares 360x640px (pantalla de al menos 360px de ancho)*/
    .about-me h3{
        font-size: 0.85em;
    }
}


@media only screen and (min-width: 375px) {
    /* Estilos para celulares 375x667px (pantalla de al menos 375px de ancho)*/
}

/* Media Queries para tablets y pantallas más grandes */
@media only screen and (min-width: 768px) {
    /* Estilos para tabletas 768x1024px (pantalla de al menos 768px de ancho)*/
    #rocket{
        width: 45px; /* Ajusta según el tamaño de tu cohete */
    }

    .spinner {
        width: 80px;
        height: 80px;
        box-shadow: 0px 0px 20px 0px #3498db;
    }

    header .logo img{
        width: 60px;
        padding: 12px 12px 12px 16px;
    }

    header .menu-icon img {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .menu-original {
        display: block;
    }

    .about-me{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    

    .about-h3{
        width: 100%;
        height: 60%;
        align-items: flex-start;
    }

    .about-me h3{
        width: 100%;
        font-size: 1.3em;
    }

    .img-about{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%); /* Empieza fuera de la pantalla a la izquierda */
        opacity: 0; /* Comienza invisible */
        filter: drop-shadow(3px 3px 5px #ffffff);
        transition: transform 1.2s ease-out, opacity 0.8s ease-out; /* Suaviza la transición */
    }

    .about-me-visible-2 {
        transform: translateX(0%); /* Vuelve a su posición normal */
        opacity: 1; /* Hace la sección completamente visible */
    }

    .img-about img{
        width: 60%;
        border-radius: 5px;
        border: #000 solid 1px;
        border-radius: 10px;
    }

    .cajitas-skills h2{
        font-size: 35px;
    }

    .cajitas-skills h3{
        font-size: 25px;
    }

    .works{
        height: 100vh;
        padding: 7% 3% 3% 3%;
    }

    .works-h2{
        align-items: flex-end;
        font-size: 35px;
    }

    .works__projects{
        height: 80%;
    }

    .works__project{
        width: 60%;
        height: 30%; /* Alto de cada proyecto */
    }
}

@media only screen and (min-width: 1024px) {
    /* Estilos para laptops y desktops pequeños (pantallas de al menos 1024px de ancho)*/
    header .logo img{
        width: 60px;
        padding: 12px 12px 12px 16px;
    }
    
    body {
        animation: scroll 90s linear infinite; /* Aplica la animación */
    }

    .launcher{
        right: 5px;
    }
    
    .dialog-box {
        width:80%;
        height:80%;
    }

    .launcher p {
        font-size: 15px;
    }
    
    .launcher .arrow{
        width: 30%;
        height: auto;
    }

    .titulo .primario {
        padding-left: 7%;
        width: 40%;
        font-size: 8vw;
    }
    
    .titulo .secundario {
        padding-left: 7%;
        width: 40%;
        font-size: 5vw;
        text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff;
    }

    .imagen-perfil{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .imagen-perfil img{
        margin-right: 20%;
        width: 60%;
        filter: drop-shadow(3px 3px 5px #2695ff);
        transition: transform 1s; /* Duración de la transición */
    }
    
    .imagen-perfil img:hover {
        transform: rotateY(180deg); /* Rotación de 360 grados en el eje Y */
    }
    
    @keyframes scale{
        from {
          transform: scale(0.1);
        }
      
        to {
          transform: scale(1);
        }
    }

    /*------------------ABOUT ME------------------*/

    .about-me{
        flex-direction: row;
    }

    .about-h3{
        width: 60%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    .about-me h3{
        width: 100%;
        font-size: 0.9em;
        text-align: right;
    }

    .img-about{
        width: 40%;
        height: 100%;
        display: flex;
    }
    
    .img-about img{
        width: 80%;
        border-radius: 10px;
    }

    /*------------------SKILLS------------------*/

    .cajitas-skills{
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: 'Rajdhani', sans-serif;
        margin-top: 2%;
    }

    .barra{
        width: 15%;
        height: 8%;
        margin-left: 5%;
        margin-right: 5%;
        border: 2px solid rgb(137, 40, 228);
        border-radius: 10px;
        background-color: #2695ff;
        box-shadow: 0 0 10px rgb(137, 40, 228), 0 0 30px rgb(137, 40, 228), 0 0 40px rgb(137, 40, 228);
    }

    .cajitas-skills h2{
        font-size: 30px;
    }

    .cajitas-skills h3{
        font-size: 25px;
    }

    .cajitas-skills img{
        height: 70%;
        transition: transform 0.5s;
    }

    .cajitas-skills img:hover{
        transform: scale(1.3);
    }

    /*------------------WORKS------------------*/

    .works{
        padding: 5% 1% 3% 1%;
    }

    .works-h2{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .works-h2 h2{
        color: #020000;
        font-family: 'Rajdhani', sans-serif;
        letter-spacing: 5px;
        text-align: center;
        font-weight: 900;
    }

    .works__projects{
        align-items: center;
    }

    .works__project{
        width: 45%;
        height: 70%; /* Alto de cada proyecto */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* Estilos comunes para imagen_fondo e imagen_fondo2 */
    .imagen_fondo, .imagen_fondo2, .imagen_fondo3 {
        width: 80%;
        height: 80%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        position: relative;
    }

    /*------------------CONTACT------------------*/

    .contact{
        height: 80vh;
        flex-direction: row;
    }

    .redes{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;
    }

    .redes h2{
        height: 50%;
        font-size: 40px;
        align-items: center;
        justify-content: flex-start;
        padding-left: 7%;
    }

    .redes__iconos{
        height: 50%;
        align-items: flex-start;
    }

    .redes img{
        width: 50%;
    }

    .form{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .form__section1{
        height: 10%;
        width: 70%;
        padding: 1%;
        margin-top: 3%;
    }

    textarea{
        width: 60%;
        height: 30%;
        resize: none;
        background-color:rgba(0, 0, 0, 0.5);
        padding: 5%;
        margin: 7% 2% 2% 2%;
        color: #fff;
    }

    /*------------------preGame------------------*/

    .preGame{
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 6;
        background-color: #00000077;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    
    .preGame__container{
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        background-color: #000;
        border: double 4px #fff;
    }
    
    .preGame__container h1{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items:center;
        color: #fff;
        font-family: 'Rajdhani', sans-serif;
        letter-spacing: 5px;
        text-align: center;
        font-weight: 900;
        filter: drop-shadow(3px 3px 5px #2695ff);
    }

    .preGame__instructions{
        width: 100%;
        height: 50%;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items:center;
    }
    
    .preGame__container h2{
        width: 100%;
        height: 20%;
        color: #fff;
        font-family: 'Rajdhani', sans-serif;
        letter-spacing: 5px;
        text-align: center;
        font-weight: 900;
        filter: drop-shadow(3px 3px 5px rgb(137, 40, 228));
    }
    
    .preGame__container p{
        width: 100%;
        height: 20%;
        padding-top: 5%;
        color: #fff;
        font-family: 'Rajdhani', sans-serif;
        letter-spacing: 5px;
        text-align: center;
        font-weight: 900;
    }

    .preGame__buttons{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:flex-start;
    }

    .preGame__container button{
        width: 20%;
        height: 45%;
        background-color: rgba(83,23,140,1);
        box-shadow: 0 0 10px rgba(83,23,140,1), 0 0 40px rgba(83,23,140,1);
        border-radius: 6px;
	    outline: none;
        font-family: calibiri 3px;
        color: #fff;
        letter-spacing: 2px;
        cursor: pointer;
    }

    .preGame__container button:hover{
        background-color: rgba(83,23,140,1);
        box-shadow: 0 0 10px rgba(83,23,140,1), 0 0 40px rgba(83,23,140,1), 0 0 80px rgba(83,23,140,1);
        border-radius: 6px;
        letter-spacing: 3px;
    }

    .countdown{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        color: #fff;
        font-size: 15vh;
    }

    #closeGame{
        width: 4%;
        height: auto;
        position: fixed;
        top: 3%;
        left: 2%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        transition: transform 0.5s;
        cursor: pointer;
        z-index: 8;
    }

    #pauseMusic{
        width: 4%;
        height: auto;
        position: fixed;
        z-index: 8;
        top: 3%;
        left: 7%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        transition: transform 0.5s;
        cursor: pointer;
    }

    #counter{
        width: 10%;
        height: 7%;
        color: #fff;
        font-family: consolas;
        background-color: rgba(83,23,140,0.8);
        border-radius: 2px;
        position: fixed;
        z-index: 8;
        top: 3%;
        right: 2%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    #closeGame:hover, #pauseMusic:hover{
        transform: scale(1.1);
    }

    #rocket2{
        width: 50px; 
        height: auto;
        position: fixed;
        bottom: 3%;
        right: 5%;
        display: none;
    }

    #asteroid1, #asteroid2{
        display: none;
        width: 5%; /* Tamaño */
        height: auto;
        position: fixed;
        top: -10%;
        left: 5%;
    }

    #asteroid3, #asteroid4{
        display: none;
        width: 8%; /* Tamaño */
        height: auto;
        position: fixed;
        top: -20%;
        right: 5%;
    }

    #asteroid5{
        display: none;
        width: 4%; /* Tamaño */
        height: auto;
        position: fixed;
        top: -15%;
        left: 5%;
    }

    #gameOverDiv{
        width: 100%;
        height: 100%;
        z-index: 6;
        background-color: rgba(137, 40, 228, 0.3);
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .gameOverDiv p{
        font-size: 160px;
        font-family: 'Black Ops One', cursive;
        line-height: 120px;
        text-align: center;
        text-shadow: 5px 5px #000000;
        color: #ffffff;
    }

    .footer {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1440px) {
    /* Reglas CSS para pantallas de al menos 1440px de ancho */
    header{
        height: 100px;
    }

    .rocket{
        width: 120px;
    }

    header .logo img{
        width: 70px;
    }

    .menu-original a{
        font-size: 30px;
    }

    .about-me h3{
        font-size: 1.5em;
    }

    .cajitas-skills h2{
        font-size: 40px;
    }

    .cajitas-skills h3{
        font-size: 35px;
    }
}
